.featured-posts {
  height: 400px;
  margin: 5px 10px 15px;
  border-radius: 0px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    margin-top: 280px;
    margin-left: 0px;
    padding: 20px;
    background: rgba(0,0,0,1);
    padding: 10px 50px 10px 50px;
    position: relative;
    // border-radius: 0 200px 200px 0px;
    display: inline-block;
    
    & span {
      display: inline;
      color: white;
      font: 2rem 'Montserrat', Sans-Serif;
      text-decoration: none;
      z-index: 20;
    }
  }
}

@media screen and (max-width: 800px) {
  .featured-posts {
    height: 300px;
    .title {
      margin-top: 220px;
      position: absolute;
      bottom: 0;
      & span {
        font-size: 1.2rem;
      }
    }
  }
}

.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
