.featured-posts {
  height: 400px;
  margin: 5px 10px 15px;
  border-radius: 16px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:after {
    content: "";
    box-shadow: 0 14px 28px rgba(211, 185, 230, 0.38), 0 10px 10px rgba(193, 185, 197, 0.94);
    border-radius: 16px;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);
}
&:hover {
  -ms-transform: translateY(-0px) scale(1.005);
  -webkit-transform: translateY(-0px) scale(1.005);
  transform: translateY(0px) scale(1.005);
  
  &:after {
      opacity: 1;
  }
  
}
  .overlay {
    opacity: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.3em;
    background: #333399;
    background: -webkit-linear-gradient(to top, rgba(51, 51, 153, 1), rgba(255, 0, 204, 0.17));
    background: linear-gradient(to top, rgb(51, 51, 153), rgba(255, 0, 204, 0.17));
    transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 16px;
    &:hover {
        opacity: 1;
    }
  }
  .title {
    margin-top: 280px;
    margin-left: 0px;
    padding: 20px;
    background: rgba(0,0,0,1);
    padding: 10px 50px 10px 50px;
    position: relative;
    // border-radius: 0 200px 200px 0px;
    display: inline-block;
    
    & span {
      display: inline;
      color: white;
      font: 2rem 'Barlow', Sans-Serif;
      text-decoration: none;
      z-index: 20;
    }
  }
}

// .home-shape {
//   height: 200px;
//   width: 200px;
//   background: red;
//   border-top-left-radius: 30% 70%;
//   border-top-right-radius: 70% 70%;
//   border-bottom-left-radius: 30% 70%;
//   border-bottom-right-radius: 70% 70%;
// }

.home-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .skill {
    position: relative;
    width: 40vmin;
    height: 40vmin;
    max-width: 200px;
    max-height: 200px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    a {
      width: 100%;
      position: absolute;
      top: calc(50% - 0.5em);
      left: 0%;
      font-size: 2rem;
    }
  }
}

#hi {
  #hi-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100% - 80px);
    align-items: center;
    justify-content: center;
  }
}

#hey {
  font-size: 8rem; 
  color: #fff;
}
#name {
  font-size: 2rem; 
  color: rgba(255,255,255,0.7);
}
#check-me-out {
  font-size: 1.5rem; 
  color: rgba(255,255,255,0.7); 
  max-width: 600px; 
  margin-top: 0px;
}

@media screen and (max-width: 800px) {
  .featured-posts {
    height: 300px;
    .title {
      margin-top: 220px;
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      & span {
        font-size: 1.2rem;
      }
    }
  }
  .home-skills{
    padding: 20px 0px;
    .skill {
      a {
        font-size: 1.5rem;
      }
    }
  }

  #hey {
    font-size: 2rem; 
    color: #fff;
  }
  #name {
    font-size: 1.5rem; 
    color: rgba(255,255,255,0.7);
  }
  #check-me-out {
    font-size: 1.2rem; 
    color: rgba(255,255,255,0.7); 
    max-width: 600px; 
    margin-top: 0px;
  }
}

.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
