.page-title {
  padding: 20px 10px 10px;
  font-family: 'Montserrat', sans-serif;

  // h1 {
  //   text-transform: uppercase;
  //   font-family: "Open Sans", sans-serif;
  //   font-weight: 100;
  //   letter-spacing: 2px;
  // }
}
.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
