<header class="site-header">
  <div class="header-banner">
    <img class="header-img" src="{{ site.url }}{{ site.baseurl }}/assets/img/portfolio/PB logo simple 2.png" alt="">
    <h3 class="site-title">
      <a href="{{ site.github.url }}/">{{ site.data.settings.title }}</a>
    </h3>
  </div>
  
  <nav class="menu-list">
    {% for item in site.data.settings.menu %}
      {% if item.folder %}
        <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu-link menu-title">{{ item.name }}</a>
      {% endif %}
      
    {% endfor %}
<!-- 
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %} -->
  </nav>
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/pages/{{ item.file }}" class="menu-link">{{ item.name }}</a>
      {% endfor %}
      <!-- <div class="menu-link" style="display: flex; justify-content: center;">
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </div> -->
    </div>
</header>

<script>
  $(".dropbtn").click(function(){
    $(".dropdown").toggleClass("dropdown-active");
  });
</script>
