---
layout: page
title: Drawings, Paintings and Sketches
---

<ul class="grid effect-2" id="grid">
  {% include_relative portfolio/art/employee-a-e.html %}
  {% include_relative portfolio/art/wonderwoman.html %}
  {% include_relative portfolio/art/logan.html %}
  {% include_relative portfolio/art/pmleesculpture.html %}
  {% include_relative portfolio/art/yncpanelwar.html %}
  {% include_relative portfolio/art/yncpanelscience.html %}
  {% include_relative portfolio/art/yncpanelinequality.html %}
  {% include_relative portfolio/art/yncpanelnovel.html %}
  {% include_relative portfolio/art/spacey.html %}
  {% include_relative portfolio/art/dexter.html %}
</ul>

{% include_relative portfolio/art/employee-a-e-modal.html %}
{% include_relative portfolio/art/wonderwoman-modal.html %}
{% include_relative portfolio/art/logan-modal.html %}
{% include_relative portfolio/art/pmleesculpture-modal.html %}
{% include_relative portfolio/art/yncpanelwar-modal.html %}
{% include_relative portfolio/art/yncpanelscience-modal.html %}
{% include_relative portfolio/art/yncpanelinequality-modal.html %}
{% include_relative portfolio/art/yncpanelnovel-modal.html %}
{% include_relative portfolio/art/spacey-modal.html %}
{% include_relative portfolio/art/dexter-modal.html %}

<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );

  $("img.lazyload").lazyload();
</script>
  
  