---
layout: page
title: Blog
---
{% if site.categories.blog %}
{% for post in site.categories.blog %}
<a href="{{ site.github.url }}{{ site.baseurl }}{{ post.url }}">
  <div class="featured-posts animated fadeIn" 
    {% if post.image.feature %}style="background-image:url({{ site.github.url }}{{ site.baseurl }}/assets/img/blog/{{ post.image.feature }})"{% endif %}>
    <div class="overlay"></div>
    <div class="title">
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </div>
</a>
{% endfor %}
{% else %}
<h4>Under construction! Come back later...</h4>
{% endif %}
