---
layout: page
title: Illustrations, Graphic Design and UI/UX 
---

<ul class="grid effect-2" id="grid">
  {% include_relative portfolio/design/vita.html %}
  {% include_relative portfolio/design/volvox.html %}
  {% include_relative portfolio/design/flyingfido.html %}
  {% include_relative portfolio/design/dinardirham.html %}
  {% include_relative portfolio/design/anquan.html %}
  {% include_relative portfolio/design/wsdc.html %}
  {% include_relative portfolio/design/orientation.html %}
  {% include_relative portfolio/design/tavi.html %}
  {% include_relative portfolio/design/nullify.html %}
  {% include_relative portfolio/design/alchemy.html %}
  {% include_relative portfolio/design/refit.html %}
  {% include_relative portfolio/design/panopt.html %}
  {% include_relative portfolio/design/pb.html %}
  {% include_relative portfolio/design/wonderwall.html %}
  <!-- NAVO -->
</ul>

{% include_relative portfolio/design/vita-modal.html %}
{% include_relative portfolio/design/volvox-modal.html %}
{% include_relative portfolio/design/flyingfido-modal.html %}
{% include_relative portfolio/design/dinardirham-modal.html %}
{% include_relative portfolio/design/anquan-modal.html %}
{% include_relative portfolio/design/wsdc-modal.html %}
{% include_relative portfolio/design/orientation-modal.html %}
{% include_relative portfolio/design/tavi-modal.html %}
{% include_relative portfolio/design/nullify-modal.html %}
{% include_relative portfolio/design/alchemy-modal.html %}
{% include_relative portfolio/design/refit-modal.html %}
{% include_relative portfolio/design/panopt-modal.html %}
{% include_relative portfolio/design/pb-modal.html %}
{% include_relative portfolio/design/wonderwall-modal.html %}
<!-- NAVO -->

<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );

  $("img.lazyload").lazyload();
</script>
  
  