---
layout: page
title: Portfolio
---

<ul class="grid effect-2" id="grid">
  {% include_relative portfolio/volvox.html %}
  {% include_relative portfolio/flyingfido.html %}
  {% include_relative portfolio/dinardirham.html %}
  {% include_relative portfolio/logan.html %}
  {% include_relative portfolio/anquan.html %}
  {% include_relative portfolio/wsdc.html %}
  {% include_relative portfolio/pmleesculpture.html %}
  {% include_relative portfolio/orientation.html %}
  {% include_relative portfolio/tavi.html %}
  {% include_relative portfolio/nullify.html %}
  {% include_relative portfolio/alchemy.html %}
  {% include_relative portfolio/yncpanelwar.html %}
  {% include_relative portfolio/yncpanelscience.html %}
  {% include_relative portfolio/yncpanelinequality.html %}
  {% include_relative portfolio/yncpanelnovel.html %}
  {% include_relative portfolio/refit.html %}
  {% include_relative portfolio/panopt.html %}
  {% include_relative portfolio/pb.html %}
  {% include_relative portfolio/wonderwall.html %}
  <!-- NAVO -->
  {% include_relative portfolio/spacey.html %}
  {% include_relative portfolio/dexter.html %}
</ul>

<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );

  $("img.lazyload").lazyload();
</script>
  
  