---
layout: page
title: Random Ramblings
---
{% if site.categories.resources %}
{% for post in site.categories.resources %}
<a href="{{ site.github.url }}{{ post.url }}">
  <div class="featured-posts" 
    {% if post.image.feature %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image.feature }})"{% endif %}>
    <div class="title">
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </div>
</a>
{% endfor %}
{% else %}
<div class="page-title">
  <h3>Oh hi there!</h3>
  <p>
    Thanks for checking this page out. It's still a work-in-progress though, so there's not much here at the moment. So yeah...
    sorry about that.
  </p>
  <p>
    In the meantime, feel free to peruse the rest of the site or check out this video...
  </p>
  <div style="width: 100%; display: flex; justify-content: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-RkaFw0QrRo" frameborder="0" allowfullscreen></iframe>
  </div>
  
</div>
{% endif %}
